<div class="trip-status-actions">
  <ion-button
    expand="block"
    fill="solid"
    [color]="tripStatusDisplayConstants[tripStatusConstants.enCamino].color"
    [disabled]="isIniciarDisabled()"
    (click)="emitIniciar()">
    <ion-icon slot="start" [name]="statusIconConstants.enCamino"></ion-icon>
    Iniciar
  </ion-button>

  <ion-button
    expand="block"
    fill="solid"
    [color]="tripStatusDisplayConstants[tripStatusConstants.enParada].color"
    [disabled]="isLlegueDisabled()"
    (click)="emitLlegue()">
    <ion-icon slot="start" [name]="statusIconConstants.enParada"></ion-icon>
    Llegué
  </ion-button>

  <ion-button
    expand="block"
    fill="solid"
    [color]="tripStatusDisplayConstants[tripStatusConstants.entregado].color"
    [disabled]="isEntregueDisabled()"
    (click)="emitEntregue()">
    <ion-icon slot="start" [name]="statusIconConstants.completed"></ion-icon>
    Entregué
  </ion-button>
</div>
