<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon [name]="routeIconName"></ion-icon>
      Assigned Route
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="route-content" [fullscreen]="true">
  <ion-toolbar [color]="currentStatusDisplay.color">
    <ion-icon [name]="currentStatusDisplay.icon" slot="start"></ion-icon>
    <ion-title>{{ currentStatusDisplay.label }}</ion-title>
  </ion-toolbar>

  <div class="map-wrapper">
    <div id="map" #mapContainer class="map-container"></div>
  </div>

  <div class="status-actions-wrapper">
    <logiflow-trip-status
      [currentStatus]="currentStatus"
      (statusChange)="handleTripStatusChange($event)"></logiflow-trip-status>
  </div>

  <div class="stop-list-wrapper">
    <ion-list>
      <ion-item
        class="stop-item"
        detail="false"
        button="true"
        *ngFor="let step of routeSteps"
        (click)="centerMapOnStop(step)"
        (keydown.enter)="centerMapOnStop(step)"
        (keydown.space)="centerMapOnStop(step)">
        <ion-badge
          slot="start"
          class="arrival-badge"
          [style.background-color]="getStatusColor(step)">
          {{ step.arrivalOrder }}
        </ion-badge>

        <ion-note class="stop-address">{{ step.address }}</ion-note>

        <ion-chip slot="end" [style.background-color]="getStatusColor(step)">
          <ion-icon [name]="getStatusIcon(step)"></ion-icon>
          <ion-label>{{ getStatusLabel(step) }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
